<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Link to your external CSS files -->
    
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-btn btn-custom5" style="height:35px ;">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" >
            <ul class="d-flex navbar-nav h-100 w-100 text-md-center">
                <li class="nav-item flex-fill">
                    <a class="nav-link hilite" href="#">Home</a>
                    
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
